#stats {
    position: absolute;
    z-index: 99999;
    left: 0px;
    top: 0px;
    padding: 5px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}